*{
    text-align: center;
}
body{
    background: black;
    font-family: "Helvetica Neue",Helvetica,Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    color:#333;
}
.jumbotron{
    background-image: url(../img/background.jpg);
    margin-top:20px;
    background-attachment: cover;
}
img{
    width:150px;
    height: 150px;
}
h3{
    color:orangered;
}
p{
    color:#fff;
}
.enter{
    margin-top:30px;
}
.devour{
    margin-top: 10px;
}

.list-group-item{
    background:black;
    border: none;
}
.btn{
    margin-left:5px;
}

.newBurgerDetails{
    margin-bottom: 20px; 
}

.addedBurger{
    text-align: left;
}